name: linter

on: push

jobs:
  linter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: setup-python
        uses: actions/setup-python@v2
      - name: run linter
        run: 
            pip install poetry
            make install
            make lint
      - name: run tests
        run:
            pip install pytest
            pytest
            